/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

:root {

    /* Colors */
    --color-text: #adb5bd;
    --color-primary: #576cbc;
    --color-seconday: #19376d;
    --color-dark: #0b2447;
    --color-bg: #ced4da;

    /* Fonts */
    --font-roboto: "Roboto";

}

